db/*
bak/*
dist/*
!dist/.gitkeep
!bak/backup-scripts
!bak/mongoautodump
!bak/get-all-logs.sh
nginx-proxy/cert/*
!nginx-proxy/cert/.gitkeep
meeting-server/upload/*
meeting-server/upload/.gitkeep

.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile